.container {
  max-width: 100%;
  padding: 15px $container-padding;
  margin: 0 auto;
}

@include mobile-large {
  .container {
    max-width: 620px;
  }
}

@include tablet {
  .container {
    max-width: 960px;
  }
}

@include desktop {
  .container {
    max-width: 1200px;
  }
}

 

