.services{
    background-color: $primary-color;


    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 70px;
    }

    &__title{
        margin-top: 100px;
        font-size: 46px;
        font-weight: 600;
        line-height: 57.5px;
        color: $white-text;
    }

    &__card{
        display: flex;
        flex-direction: column;
        gap: 6px;
        align-items: center;

        &s{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap: 250px;
            row-gap: 70px;
        }

        &__desc{
            color: $white-text;
            opacity: 50%;
            text-align: center;
        }
    }
}